<h2>Add Ticket</h2>
<form ng-submit="new.submit()">
  <div class="form-group">
    <label for="club">Please choose the club</label>
    <select class="form-control" name="club" id="club" ng-model="new.ticket.club">
      <option ng-repeat="club in new.clubs" value="{{club}}">{{club}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="image">Choose image for your ticket</label>
    <input class="form-control" name="image" id="image" ng-model="new.ticket.image">
  </div>

  <div class="form-group">
    <label for="value">Please say the face value for your ticket</label>
    <input class="form-control" name="number" id="value" ng-model="new.ticket.value">
  </div>

  <div class="form-group">
    <label for="family_enclosure">Is this in the family area?</label>
    <input class="form-control" type="checkbox" id="family_enclosure" ng-model="new.ticket.family_enclosure">
  </div>

  <input type="submit" class="btn btn-primary pull-right" value="Suggest">
</form>
