<h1>{{ threads.thread.title }}</h1>

<ul class="list-inline">
  <li><a class="btn btn-default" ui-sref="threadsEdit({id: threads.thread._id})">Edit Thread</a></li>
  <li><a class="btn btn-default" ng-click="threads.threadsDelete()">Delete Thread</a></li>
</ul>
<ng-audio-recorder id='audioInput' audio-model='threads.audio' on-conversion-complete="threads.finishedConverting()">
  <div class="recbuttons" ng-if="recorder.isAvailable">
    <h4 class="reply-prompt">Record Reply</h4>
    <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
      Start Record
    </button>
    <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
      Stop Record
    </button>

    <button ng-click="recorder.playbackRecording()" type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
      Play Back
    </button>
  </div>

  <!-- <div style="max-width: 600px">
    <div ng-show="recorder.status.isConverting">
      Please wait while your recording is processed.
    </div>

    <div ng-show="recorder.isHtml5 && recorder.status.isRecording">
      <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
    </div>
    <br/>

    <div ng-show="!recorder.status.isRecording && recorder.audioModel">
      <ng-audio-recorder-wave-view wave-color="#ab0754" bar-color="red"></ng-audio-recorder-wave-view>
    </div>
  </div>

  <h2 class="showPageHeading" ng-if="recorder.status.isRecording">
    {{recorder.elapsedTime > 9 ? recorder.elapsedTime : ('0'+recorder.elapsedTime)}}
  </h2>

  <h2 style="font-family: sans-serif; text-align: center; border: solid 2px #333; padding: 20px 10px;" ng-if="recorder.status.isRecording">
    Remaining Time: {{recorder.timeLimit - recorder.elapsedTime}}
  </h2>
</div> -->

<div ng-if="!recorder.isAvailable">
  Your browser does not support this feature natively, please use latest version of <a
  href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
  href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
  Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
  use this feature.
</div>

</ng-audio-recorder>

<div class="reply-container">
  <img class="threadimg" ng-src="{{ threads.thread.image }}">
  <p>
    <em>posted by {{ threads.thread.creator.username }}</em> <time am-time-ago="threads.thread.createdAt"></time>
  </p>
  <li>{{ threads.thread.description }}</li>
  <ul class="vemes">
    <li ng-repeat="veme in threads.thread.vemes | orderBy:'-'">
      <img class="vemeavatar" ng-src="{{ veme.user.profilePicture }}" ng-click="threads.playAudio(veme)">
    </li>
  </ul>
</div>
