body {
  padding-top: 50px;
  background: $antiFlashWhite;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}

h4 {
  color: $sandyBrown;
}

main {
  margin: 2.5rem 0;
}

.main-title {
  margin-top: 40%;
  text-align: center;
  font-size: 4em;
}
