body {
  padding-top: 50px;
  background: $antiFlashWhite;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}

h1 {
  text-align: center;
}

h4 {
  color: $sandyBrown;
}

main {
  margin: 2.5rem 0;
}

.main-title {
  margin-top: 25%;
  text-align: center;
  font-size: 6em;
  font-family: "blacksword"
}

.form-group {
  border: 1px dashed black;
  border-radius: 5px;
}
 .chooseTicket {
   padding: 10px;
 }
