// Colors
$indigo:         #264653;
$jungleGreen:    #2A9D8F;
$hansaYellow:    #E9C46A;
$sandyBrown:     #F4A261;
$orange:         #ff4010;
$antiFlashWhite: #EBF2FA;
$white:          #FFFFFF;
$almostBlack:    #222222;

// Typography
$logo-font:      'Bungee', cursive;
$header-font:    'Montserrat', sans-serif;
$body-font:      'Work Sans', sans-serif;
