.centered {
  position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}

.btn-group-lg>.btn, .btn-lg {
  margin: 0px 6px;
}

.container-background {
  width: 100%;
  height: 100vh;
  background: url("src/images/people_night.jpg")
  no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// background-image: url("people_night.jpg");
