// 100,200,300,400,500,700

h1 {
  // font-weight: 700;
  font-size: 60px;
  color: #FFF;
  text-shadow:
    1px 0px 1px #7F007F, 0px 1px 1px #FF1300,
    2px 1px 1px #7F007F, 1px 2px 1px #FF1300,
    3px 2px 1px #7F007F, 2px 3px 1px #FF1300,
    4px 3px 1px #7F007F;
}


h2 {
  font-weight: 500;
  color: #FFF;
  text-shadow:
    1px 0px 1px #7F007F, 0px 1px 1px #FF1300,

}

h3 {
  font-weight: 200;
  margin-bottom: 18px;
  text-shadow: 1px 1px #000;
  margin-top: 20px;
}

h4 {
  font-weight: 300;
}

h5 {
  font-weight: 200;
}

p {
  font-weight: 100;
}

span {
  font-weight: 500;
}
